<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>REQUIEM | Profile</title>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Special+Elite&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <div class="bg"></div>

  <main class="profile-wrap">
    <div class="profile-card">
      <h1 class="profile-title">OPERATOR PROFILE</h1>

      <div class="profile-row">
        <span class="k">EMAIL</span>
        <span class="v" id="pEmail">...</span>
      </div>

      <div class="profile-row">
        <span class="k">DATE OF BIRTH</span>
        <span class="v" id="pDob">...</span>
      </div>

      <div class="profile-row">
        <span class="k">COUNTRY</span>
        <span class="v" id="pCountry">...</span>
      </div>

      <div class="profile-actions">
        <a class="btn-outline" href="home.html">← BACK HOME</a>
        <button class="btn-outline" id="btnLogout">LOGOUT</button>
      </div>
    </div>
  </main>

  <script type="module" src="../Controller/profile.js"></script>
</body>
</html>
